<header class="site-header">
  <div class="container">
    <a href="index.html" class="logo">Domain.com</a>
    <nav class="main-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html#how-to-play">How to Play</a></li>
        <li><a href="index.html#gadgets">Gadgets & Tools</a></li>
        <li><a href="obbyrescue-news.html">News & Updates</a></li>
        <li><a href="obbyrescue-contacts.html">Contact HQ</a></li>
        <li><a href="obbyrescue-disclaimer.html">Legal Info</a></li>
      </ul>
    </nav>
  </div>
</header>
