<div class="mobile-menu-modal" id="mobile-menu-modal">
  <div class="mobile-menu-content">
    <button class="close-modal" id="close-mobile-menu" aria-label="Close menu">
      &times;
    </button>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="./#features">Features</a></li>
      <li><a href="./#how-to-play">How to Play</a></li>
      <li><a href="./#bridge-construction">Rescue Missions</a></li>
      <li><a href="./#reviews">Reviews</a></li>
      <li><a href="obbyrescue-news.html">News</a></li>
      <li><a href="obbyrescue-contacts.html">Contacts</a></li>
      <li><a href="obbyrescue-disclaimer.html">Disclaimer</a></li>
    </ul>
  </div>
</div>
